repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        exclude: "mkdocs.yml"
      - id: end-of-file-fixer
        exclude: "(.*tests/data/.*/.*.md)"
      - id: trailing-whitespace
        exclude: "(.*tests/data/.*/.*.md)|(tests/__snapshots__/.*.ambr)"
      - id: debug-statements
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        language_version: python3.11
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff
  - repo: local
    hooks:
      - id: pytest
        name: pytest-check
        entry: uv run --all-groups python -m pytest -x
        language: system
        pass_filenames: false
        always_run: true
