name: Lint

on: [ push, pull_request ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Black
        uses: psf/black@stable
      - name: Set up Python environment
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
